# ==== Two-channel Cellpose pipeline driven by filename channels (dX) ====

input_dir: "/home/arka/Desktop/IA-Yuwei-Bodipy-Pipeline/eHeps_bodipy"
output_dir: "/home/arka/Desktop/IA-Yuwei-Bodipy-Pipeline/eHeps_bodipy"

z_strategy: "max"   # or "median"

exclude_name_contains:
  - "zstack"
  - "orthogonal projection"
  - "overlay"
  - "overview"

cellpose:
  use_gpu: true

channels:
  d0:   # nuclei channel
    filename_channel_id: 0
    model: "/home/arka/Desktop/IA-Yuwei-Bodipy-Pipeline/Models/cellpose/cpsam_eHeps_nuclei"
    flow_threshold: null
    cellprob_threshold: null

  d3:   # cell body channel
    filename_channel_id: 3
    model: "/home/arka/Desktop/IA-Yuwei-Bodipy-Pipeline/Models/cellpose/cpsam_eHeps_v3"
    flow_threshold: 0.4     # e.g., 0.4
    cellprob_threshold: 0.0 # e.g., 0.0

save:
  zstack: false
